@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
header {
  padding: 18px 0;
  background-color: #fcc107;
}
header form {
  position: relative;
}
header form input[type=text] {
  background: #fff;
  border: none;
  width: 100%;
  border-radius: 6.25rem;
  padding-left: 1rem;
  font-size: 14px;
  height: 2.4rem;
}
header form button {
  position: absolute;
  right: 1.2rem;
}
header ul li {
  position: relative;
}
header ul li span.notfications {
  color: #fff;
  background-color: #FF0F9A;
  position: absolute;
  top: -16px;
  left: 8px;
  border-radius: 100%;
  font-size: 10px;
  width: 15px;
  height: 15px;
}
header ul li a {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  color: #343A40;
}
header ul li a i {
  font-size: 23px;
  margin-right: 2px;
}
header ul li a:hover {
  color: initial;
}

.navbar-box {
  background-color: #343A40;
  color: #fff;
}
.navbar-box ul.nav li {
  position: relative;
  padding: 10px;
}
.navbar-box ul.nav li i {
  font-size: 20px;
}
.navbar-box ul.nav li:hover {
  background: #292d32;
  cursor: default;
}
.navbar-box ul.nav li:hover ul.nav {
  display: block;
}
.navbar-box ul.nav li ul.nav {
  display: none;
  position: absolute;
  top: 44px;
  left: 0;
  background-color: #343A40;
  z-index: 5;
  border-top: 10px solid #fcc107;
  width: 100%;
}
.navbar-box ul.nav li ul.nav li {
  padding: 0;
  margin: 0;
}
.navbar-box ul.nav li ul.nav li a {
  padding: 15px 48px 15px 20px;
  color: #fff;
}

.fix-banners {
  margin: 30px 0;
}
.fix-banners .fix-banner-12x {
  background-color: #FF0F9A;
  background-image: url("../images/parcele-em-12x.jpg");
}
.fix-banners .fix-banner-brasil {
  background-color: #B343C3;
  background-image: url("../images/entrega-para-todo-brasil.jpg");
}
.fix-banners .fix-banner-12x, .fix-banners .fix-banner-brasil {
  border-radius: 5px;
  background-size: cover;
  height: 105px;
  padding: 20px 60px;
}
.fix-banners .fix-banner-12x i, .fix-banners .fix-banner-12x p, .fix-banners .fix-banner-brasil i, .fix-banners .fix-banner-brasil p {
  margin: 0;
  padding: 0;
  color: #fff;
}
.fix-banners .fix-banner-12x i, .fix-banners .fix-banner-brasil i {
  font-size: 65px;
  margin-left: 10px;
}
.fix-banners .fix-banner-12x p, .fix-banners .fix-banner-brasil p {
  font-weight: 100;
  line-height: 110%;
  font-size: 23px;
  margin-left: 30px;
}
.fix-banners .fix-banner-12x p strong, .fix-banners .fix-banner-brasil p strong {
  font-weight: bold;
}

#product {
  margin: 30px 0 60px;
}
#product h1 {
  font-size: 32px;
  font-weight: bold;
}
#product .product-items {
  margin: 30px 0;
}
#product .product-items .product-item {
  color: #fff;
}
#product .product-items .product-item img {
  border-radius: 5px;
  margin-bottom: 10px;
}
#product .product-items .product-item span.headline {
  color: #343A40;
  font-weight: 500;
  font-size: 19px;
}
#product .product-items .product-item .avaliation {
  color: #fcc107;
  font-size: 10px;
}
#product .product-items .product-item .price {
  color: #343A40;
  font-weight: 400;
  font-size: 20px;
}
#product .btn-products {
  background-color: #fcc107;
  text-transform: uppercase;
  font-weight: 600px;
  padding: 10px 40px;
}
#product .btn-products:hover {
  background: #e7b003;
}

body {
  font-family: "Roboto", sans-serif;
}

body {
  color: #343A40;
}

a {
  text-decoration: none !important;
}

/*# sourceMappingURL=style.css.map */
