<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moda da Mulher | Home</title>

    <!-- FAVICONS -->
    
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="./assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#FFC107">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#FFC107">

    <!-- END FAVICONS -->

    <!-- CSS & BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- END CSS &BOOTSTRAP -->
    
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="container-fluid ">
            <!-- NAV CONTAINER -->
            <div class="container">
                <div class="row d-flex justify-content-around align-items-center">
                    <!-- LOGO -->
                    <div class="col-md-2 col-sd-2">
                        <a href="#">
                            <img src="./assets/images/logo.svg" alt="Moda da Mulher">
                        </a>
                    </div>
                    <!-- END LOGO -->
                    <!-- SEARCHBAR -->
                    <div class="col-md-7 col-sd-7 search-bar">
                        <form action="#" class="d-flex align-items-center justify-content-between">
                            <input type="text" placeholder="Procurar Roupas Aqui">
                            <button class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                    <!-- END SEARCHBAR -->
                    <!-- NAV USER -->
                    <nav class="col-md-3 col-sd-3">
                        <ul class="nav d-flex justify-content-around">
                            <li class="nav-item">
                            <a href="#" class="d-flex align-items-baseline">
                                <i class="fa-solid fa-user"></i>entrar
                            </a>                            
                            </li>
                            <li class="nav-item">
                                <span class="notfications d-flex align-items-center justify-content-center">3</span>
                                <a href="#" class="d-flex align-items-baseline">
                                    <i class="fa-solid fa-cart-shopping"></i>carrinho
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- END NAV USER -->
                </div>
            </div>
            <!-- END NAV CONTAINER -->
        </div>
    </header>
    <!-- END HEADER -->
    <!-- MAIN -->
    <main>
    <!-- NAVIGATION -->
    <nav class="container-fluid navbar-box">
        <section class="container">
            <ul class="nav">
                <li class=" nav-section nav-item col-md-2">
                    <i class="fa-solid fa-bars"></i>
                    Moda Feminina

                    <!-- PRODUCT SECTION -->
                    
                    <ul class="nav flex-column">
                        <li class="nav-section nav-item d-flex align-items-center"><a class="btn" href="#">Lançamentos</a></li>
                        <li class="nav-section nav-item d-flex align-items-center"><a class="btn" href="#">Plus Size</a></li>
                        <li class="nav-section nav-item d-flex align-items-center"><a class="btn" href="#">Moda Praia</a></li>
                        <li class="nav-section nav-item d-flex align-items-center"><a class="btn" href="#">Acessórios</a></li>
                        <li class="nav-section nav-item d-flex align-items-center"><a class="btn" href="#">Promoção</a></li>
                    </ul>

                    <!-- END PRODUCT SECTION -->
                    
                </li>
                <li class="nav-section nav-item col-md-2">
                    <i class="fa-solid fa-bars"></i>
                    Calçados

                    <!-- PRODUCT SECTION -->
                    
                    <ul class="nav flex-column">
                        <li class="nav-section"><a href="#" class="btn">Sapatos</a></li>
                        <li class="nav-section"><a href="#" class="btn">Sapatilhas</a></li>
                        <li class="nav-section"><a href="#" class="btn">Tênis de corrida</a></li>
                        <li class="nav-section"><a href="#" class="btn">Sandálias</a></li>
                        <li class="nav-section"><a href="#" class="btn">Botas</a></li>
                    </ul>

                    <!-- END PRODUCT SECTION -->
                    
                </li>
            </ul>
        </section>
    </nav>
    <!-- END NAVIGATION -->

    <!-- ROTATE BANNER -->
    <div id="promo-banners" class="carousel slide container" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- BANNER 01 -->
          <div class="carousel-item active">
            <img src="./assets/images/banner-1.jpg" class="d-block w-100" alt="Compre Agora - Promoção">
          </div>
            <!-- END BANNER 01 -->
            <!-- BANNER 02 -->
          <div class="carousel-item">
            <img src="./assets/images/banner-2.jpg" class="d-block w-100" alt="Descontos Especiais - Itens Selecionados">
          </div>
          <!-- END BANNER 02 -->
          <!-- BUTTONS BANNER INTERACTIVE -->
        <button class="carousel-control-prev" type="button" data-bs-target="#promo-banners" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#promo-banners" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <!-- END BUTTONS BANNER INTERACTIVE -->
    </div>
    <!-- ROTATE END BANNER -->
    
    <!-- FIX BANNER -->
      <section class="fix-banners">
          <section class="container">
            <div class="row">
                <article class="col-md-6">
                    <div class="fix-banner-12x d-flex align-items-center">
                        <i class="fa-regular fa-credit-card"></i>
                        <br>
                        <p>
                            Parcele em até <br><strong>12x sem juros</strong>
                        </p>
                    </div>
                </article>
                <article class="col-md-6">
                    <div class="fix-banner-brasil d-flex align-items-center">
                        <i class="fa-solid fa-truck"></i>
                    <br>
                    <p>
                        Entrega para <br><strong>todo Brasil</strong>
                    </p>
                    </div>
                </article>
            </div>
          </section>
      </section>
    <!-- END FIX BANNER -->

    <!-- PRODUCTS -->
    <section id="product" class="container">
        <h1 class="text-center">Mais Populares</h1>
        <!-- MAIN PRODUCTS -->
        <div class="row product-items">
            <a href="#" class="col-md-3 product-item">
                <img src="./assets/images/croped-rosa.jpg" alt="Cropped Rosa - 39,90 reais">
                <h3 class="headline">Cropped Rosa</h3>
                <div class="avaliation">
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR HALF -->
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <strong class="price">
                    R$39,90
                </strong>
            </a>
            <a href="#" class="col-md-3 product-item">
                <img src="./assets/images/camiseta-manga-comprida.jpg" alt="Blusa de manga longa listrada - 69,90 reais" />
                <h3 class="headline">Blusa Manga Longa Listrada</h3>
                <div class="avaliation">
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                </div>
                <strong class="price">
                    R$69,90
                </strong>
            </a>
            <a href="#" class="col-md-3 product-item">
                <img src="./assets/images/Camiseta Listrada.jpg" alt="Camisa listrada - 79,90 reais" />
                <h3 class="headline">Camisa Listrada</h3>
                <div class="avaliation">
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR HALF -->
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <strong class="price">
                    R$79,90
                </strong>
            </a>
            <a href="#" class="col-md-3 product-item">
                <img src="./assets/images/saia-plisada.jpg" alt="saia plisada - 59,90 reais" />
                <h3 class="headline">Saia plisada</h3>
                <div class="avaliation">
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                    <!-- STAR FULL -->
                    <i class="fa-solid fa-star"></i>
                </div>
                <strong class="price">
                    R$59,90
                </strong>
            </a>
        </div>
        <!-- END MAIN PRODUCTS -->
        <!-- MORE PRODUCTS -->
        <div class="row">
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-products">veja mais</a>
            </div>
        <!-- END MORE PODUCTS -->
        </div>
    </section>
    <!-- END PRODUCTS -->
    </main>
    <!-- END MAIN -->
    <!-- FOOTER -->
    <footer class="container-fluid">
        <div class="container drop-responsive">
            <section class="row">
                <!-- CONTACT -->
                <div class="col-md-4 contact">
                    <h4 class="footer-title">
                        Atendimento
                    </h4>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="footer-link" href="tel:+5577981237442">(77) 9 5555-5555</a>
                        </li>
                        <li class="nav-item">
                            <a class="footer-link" href="mailto:mateusmca@icloud.com">contato@sualoja.com.br</a>
                        </li>
                        <li class="nav-item">
                            Horário de atendimento on-line: <br> Segunda à sexta das 9:00 até as 17:30h
                        </li>
                    </ul>
                </div>
                <!-- END CONTACT -->
                <!-- ACCESS -->
                <div class="col-md-3 access">
                    <h4 class="footer-title">Acesso rápido</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="footer-link" href="#">Minha conta</a></li>
                        <li class="nav-item"><a class="footer-link" href="#">Meus pedidos</a></li>
                        <li class="nav-item"><a class="footer-link" href="#">Rastrear meus pedidos</a></li>
                        <li class="nav-item"><a class="footer-link" href="#">Troca e devoluções</a></li>
                    </ul>
                </div>
                <!-- END ACCESS -->
                <!-- INSTITUTIONAL -->
                <div class="col-md-3 instutional">
                    <h4 class="footer-title">Institucional</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="footer-link" href="#">Sobre a loja</a></li>
                        <li class="nav-item"><a class="footer-link" href="#">Política e privacidade</a></li>
                    </ul>
                </div>
                <!-- END INSTITUTIONAL -->
                <!-- MOST POPULAR -->
                <div class="col-md-2 popular">
                    <h4 class="footer-title">Acesso rápido</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="footer-link" href="#product">Cropped rosa</a></li>
                        <li class="nav-item ellipsis"><a class="footer-link" href="#product">Blusa manga longa listrada</a></li>
                        <li class="nav-item"><a class="footer-link" href="#product">Camisa listrada</a></li>
                        <li class="nav-item"><a class="footer-link" href="#product">Saia plisada</a></li>
                    </ul>
                </div>
                <!-- END MOST POPULAR -->
            </section>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- BOOTSTRAP JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/6a6f908e4f.js" crossorigin="anonymous"></script>
</body>
</html>