.navbar-box {
    background-color: $secundary;
    color: $white;
    ul.nav {
        li {
            position: relative;
            padding: 10px;        

            i {
                font-size: 20px;
                
            }

            &:hover {
                background: darken($color: $secundary, $amount: 5);
                cursor: default;
                ul.nav {
                    display: block;
                    
                }
            }
            
            ul.nav {
                display: none;
                position: absolute;
                top: 44px;
                left: 0;
                background-color: $secundary;
                z-index: 5;
                border-top: 10px solid $primary;

                width: 100%;
                

                li a {
                padding: 10px 24px 10px 10px;
                    color: $white;
                }
            }
        }
    }
}